@import 'tailwindcss';

/* Базовая светлая тема */
:root {
  --background: #f1f5f9; /* светло-серый фон */
  --foreground: #0f172a; /* почти чёрный текст */

  --muted: #64748b; /* вторичный текст */
  --border: #e2e8f0; /* границы/линии */
  --card: #ffffff; /* карточки/блоки */

  --primary: #2563eb; /* синий – основной цвет */
  --primary-soft: #dbeafe; /* мягкий фон для состояний */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #e5e7eb;

    --muted: #9ca3af;
    --border: #1f2937;
    --card: #020617;

    --primary: #3b82f6;
    --primary-soft: #1d4ed8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 1320px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
